<% provide :title, t("book.index.title") %>
<h1><%= t "book.index.title" %></h1>
<div class="input-group">
  <%= form_tag(books_path, method: :get) do %>
    <%= text_field_tag :search, params[:search],
      placeholder: t("book.index.search"), class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag t("book.index.search"), name: nil,
        class: "btn btn-default" %>
    </span>
  <% end %>
</div><br>

<div>
  <%= render "book" %>
  <%= will_paginate %>
</div>
